@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #cec6c6;
  height: 100%;
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-image {
    height: 320px;
  }
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 999;
}
